@import 'base/variables';

.chapter-edit-container {
  width: 100%;
  /* Assure que le conteneur prend toute la largeur possible */
  margin: 0 auto;
  padding: $section-padding;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;

  .dark-mode & {
    background-color: $dark-background-color;
    box-shadow: $dark-box-shadow-light;
  }

  .chapter-form {
    max-width: 1000px;
    width: 100%;
    /* Assure que le formulaire occupe toute la largeur disponible */
    margin: 0 auto;
    padding: $card-padding;
    background-color: $card-background-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;

    .dark-mode & {
      background-color: $dark-card-background-color;
      box-shadow: $dark-box-shadow-light;
    }
  }

  .section-title {
    font-size: $title-font-size;
    font-family: $font-family-serif;
    color: $text-color;
    margin-bottom: $title-margin-bottom;
    text-align: center;

    .dark-mode & {
      color: $dark-text-color;
    }
  }

  .form-group {
    margin-bottom: 20px;

    .form-label {
      font-weight: bold;
      color: $text-color;
      margin-bottom: 10px;
      display: block;

      .dark-mode & {
        color: $dark-text-color;
      }
    }

    .input-field {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);

        .dark-mode & {
          border-color: $dark-primary-color;
          box-shadow: 0 0 5px rgba(255, 111, 97, 0.3);
        }
      }

      .dark-mode & {
        background-color: $dark-card-background-color;
        color: $dark-text-color;
        border-color: $dark-secondary-color;
      }
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btn {
      padding: $button-padding;
      font-size: 1rem;
      border-radius: 5px;

      &.btn-primary {
        background-color: $primary-color;
        color: $white-color;
        border: none;

        &:hover {
          background-color: $primary-hover-color;
        }

        .dark-mode & {
          background-color: $dark-primary-color;

          &:hover {
            background-color: $dark-primary-hover-color;
          }
        }
      }

      &.btn-secondary {
        background-color: $secondary-color;
        color: $white-color;

        &:hover {
          background-color: $secondary-hover-color;
        }

        .dark-mode & {
          background-color: $dark-secondary-color;

          &:hover {
            background-color: $dark-secondary-hover-color;
          }
        }
      }
    }
  }
}
