@import "base/variables";

.layout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* Réduction de l'espacement */
  padding: 1rem;
  /* Réduction du padding global */
  align-items: flex-start;
  /* Alignement en haut */

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.main-column,
.sidebar-column {
  gap: 1.25rem;
  /* Réduction de l'espacement entre les sections */
}

.section {
  padding: 1rem;
  /* Réduction du padding pour les sections */
  margin-bottom: 1rem;
  /* Ajout d'une marge inférieure uniforme */
}

.stories-grid {
  gap: 1rem;
  /* Réduction de l'espacement entre les éléments de la grille */
}

.main-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* Utilisation de rem pour l'espacement */

  @media (max-width: 768px) {
    flex: 1;
    /* Prend toute la largeur sur les petits écrans */
    gap: 1.5rem;
    /* Réduction de l'espacement pour les petits écrans */
  }
}

.sidebar-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  /* Utilisation de rem pour l'espacement */

  @media (max-width: 768px) {
    flex: 1;
    /* Prend toute la largeur sur les petits écrans */
    gap: 1.5rem;
    /* Réduction de l'espacement pour les petits écrans */
  }
}

.section {
  background-color: $background-color;
  padding: 1.5rem;
  /* Utilisation de rem pour le padding */
  border-radius: $card-border-radius;
  box-shadow: $box-shadow-light;

  .dark-mode & {
    background-color: $dark-background-color;
    box-shadow: $dark-box-shadow-light;
  }

  @media (max-width: 768px) {
    padding: 1rem;
    /* Réduction du padding pour les petits écrans */
  }
}

.section-title {
  font-size: 1.5rem;
  /* Utilisation de rem pour la taille de police */
  font-family: $font-family-serif;
  margin-bottom: 1rem;
  /* Utilisation de rem pour la marge inférieure */
  text-align: left;
  color: $white-color;

  .dark-mode & {
    color: $dark-white-color;
  }

  @media (max-width: 768px) {
    font-size: $subtitle-font-size;
    /* Taille par défaut sur petits écrans */
    margin-bottom: $title-margin-bottom;
    /* Restaure la marge par défaut */
  }
}

.stories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* Grille flexible pour petits écrans */
  gap: 1.25rem;
  /* Utilisation de rem pour l'espacement */

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Taille par défaut sur écrans moyens */
  }
}

/* Adaptation des cards */
.card-index {
  position: relative;
  display: block;
  height: 100%;
  border-radius: $card-border-radius;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;

  .dark-mode & {
    background-color: $dark-card-background-color;
  }
}

.card-index__image {
  width: 100%;
  height: 250px;
  /* Réduction de la hauteur pour petits écrans */
  object-fit: cover;
  transition: transform 0.3s ease;

  @media (min-width: 768px) {
    height: 400px;
    /* Hauteur par défaut sur écrans moyens */
  }
}

.card-index__image:hover {
  transform: scale(1.05);
}

.card-index__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: $white-color;
  padding: 1rem;
  /* Utilisation de rem pour le padding */
  transition: height 0.3s ease-in-out;
  height: 5rem;
  /* Utilisation de rem pour la hauteur */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .dark-mode & {
    color: $dark-white-color;
  }
}

.card-index__title {
  font-size: 1.25rem;
  /* Ajustement pour petits écrans */
  margin: 0;
  color: $primary-color !important;
  font-weight: bold;
  text-decoration: none;

  .dark-mode & {
    color: $dark-primary-color !important;
  }

  @media (min-width: 768px) {
    font-size: 1.5rem;
    /* Taille par défaut sur écrans moyens */
  }
}

.card-index__title a {
  color: $primary-color !important;
  font-weight: bold;
  text-decoration: none;

  .dark-mode & {
    color: $dark-primary-color !important;
  }
}

.card-index__title_main a {
  font-size: 1.5rem;
  /* Taille ajustée pour petits écrans */
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;

  .dark-mode & {
    color: $dark-primary-color !important;
  }

  @media (min-width: 768px) {
    font-size: 1.75rem;
    /* Taille par défaut sur écrans moyens */
  }
}

.card-index__title:hover {
  color: $primary-hover-color;

  .dark-mode & {
    color: $dark-primary-hover-color;
  }
}

.card-index__tagline {
  font-size: 1rem;
  /* Taille ajustée pour petits écrans */
  color: $tagline-color;
  font-weight: bold;

  .dark-mode & {
    color: $dark-tagline-color;
  }

  @media (min-width: 768px) {
    font-size: 1.25rem;
    /* Taille par défaut sur écrans moyens */
  }
}

.card-index__description {
  margin-top: 1.25rem;
  /* Utilisation de rem pour la marge supérieure */
  display: none;
  color: $white-color;
  font-size: 1rem;
  /* Taille ajustée pour petits écrans */

  .dark-mode & {
    color: $dark-white-color;
  }

  @media (min-width: 768px) {
    font-size: 1.25rem;
    /* Taille par défaut sur écrans moyens */
  }
}

.card-index:hover .card-index__overlay {
  height: 100%;
  padding-top: 1.25rem;
  /* Utilisation de rem pour le padding */
}

.card-index:hover .card-index__description {
  display: block;
}

/* Flèche animée */
.card-index__arrow {
  position: absolute;
  bottom: 0.3125rem;
  /* Utilisation de rem pour la position */
  left: 90%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  /* Taille ajustée pour petits écrans */
  color: $white-color;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite;

  .dark-mode & {
    color: $dark-white-color;
  }

  @media (min-width: 768px) {
    font-size: 1.5rem;
    /* Taille par défaut sur écrans moyens */
  }
}

/* Animation de la flèche */
@keyframes bounce {

  0%,
  100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, 10px);
  }
}

.card-index:hover .card-index__arrow {
  transform: translate(-50%, -100%);
}

.card-index__header {
  display: flex;
  flex-direction: column;
}

.create-story .btn-create {
  background-color: $primary-color;
  color: $white-color;
  border: 2px solid $primary-color;
  padding: 0.75rem 1.5rem;
  /* Utilisation de rem pour le padding */
  font-size: 1rem;
  /* Taille ajustée pour petits écrans */
  border-radius: $card-border-radius;
  text-decoration: none;
  transition: background-color 0.3s ease;

  .dark-mode & {
    background-color: $dark-primary-color;
    color: $dark-white-color;
    border-color: $dark-primary-color;
  }

  @media (min-width: 768px) {
    font-size: 1.2rem;
    /* Taille par défaut sur écrans moyens */
  }
}

.create-story .btn-create:hover {
  background-color: $primary-hover-color;

  .dark-mode & {
    background-color: $dark-primary-hover-color;
  }
}

/* Media Queries supplémentaires pour les très petits écrans */
@media (max-width: 480px) {
  .layout-container {
    padding: 1rem;
    /* Réduction du padding sur petits écrans */
    gap: 1rem;
    /* Réduction de l'espacement sur petits écrans */
  }

  .main-column,
  .sidebar-column {
    gap: 1rem;
    /* Réduction de l'espacement des colonnes */
  }

  .section {
    padding: 1rem;
    /* Réduction du padding des sections */
  }

  .card-index__image {
    height: 400px;
    /* Réduction de la hauteur de l'image */
  }

  .card-index__title_main a {
    font-size: 1.25rem;
    /* Réduction de la taille du titre */
  }

  .card-index__description {
    font-size: 0.875rem;
    /* Réduction de la taille de la description */
  }

  .create-story .btn-create {
    padding: 0.5rem 1rem;
    /* Réduction du padding du bouton */
    font-size: 0.875rem;
    /* Réduction de la taille de police du bouton */
  }
}
