<!-- Pour les tags suggérés (sous forme de chaînes de caractères) -->
<div id="suggested-tags" class="form-group">
  <% if @suggested_tags.present? %>
    <h4>Tags suggérés :</h4>
    <div class="tags-container">
      <% @suggested_tags.each do |tag| %>
        <div class="form-check">
          <%= check_box_tag "story[suggested_tags][]", tag, false, class: 'form-check-input' %>
          <%= label_tag "story_tags_#{tag}", tag, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
