<h2>Nouveau chapitre</h2>

<% if @score.present? %>
  <p>Le score de qualité du texte est : <strong><%= @score %>%</strong></p>
  <% if @score < 70 %>
    <p style="color: red;">Le texte doit avoir un score d'au moins 70% pour être validé.</p>
  <% end %>
<% end %>

  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
  <% end %>

<%= render 'form_chapter', story: @story, chapter: @chapter %>
