@import 'base/variables';

/* Composant de base pour les boutons */
.btn {
  display: inline-block;
  padding: $button-padding;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: $border-radius;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

/* Bouton Lire */
.btn-read {
  width: 120px;
  background-color: $success-color;
  color: $white-color;
  border: 2px solid $success-color;

  &:hover {
    background-color: $success-hover-color;
    transform: scale(1.05);
  }

  &:active {
    background-color: darken($success-color, 10%);
  }

  .dark-mode & {
    background-color: $dark-success-color;
    border-color: $dark-success-color;

    &:hover {
      background-color: $dark-success-hover-color;
    }

    &:active {
      background-color: darken($dark-success-color, 10%);
    }
  }
}

/* Bouton Modifier */
.btn-edit {
  width: 120px;
  background-color: #ffc107;
  /* Spécifique */
  color: $white-color;
  border: 2px solid #ffc107;

  &:hover {
    background-color: #e0a800;
    transform: scale(1.05);
  }

  &:active {
    background-color: darken(#ffc107, 10%);
  }

  .dark-mode & {
    background-color: $dark-primary-color;
    border-color: $dark-primary-color;

    &:hover {
      background-color: $dark-primary-hover-color;
    }

    &:active {
      background-color: darken($dark-primary-color, 10%);
    }
  }
}

/* Bouton Supprimer */
.btn-delete {
  width: 120px;
  background-color: $danger-color;
  color: $white-color;
  border: 2px solid $danger-color;

  &:hover {
    background-color: $danger-hover-color;
    transform: scale(1.05);
  }

  &:active {
    background-color: darken($danger-color, 10%);
  }

  .dark-mode & {
    background-color: $dark-danger-color;
    border-color: $dark-danger-color;

    &:hover {
      background-color: $dark-danger-hover-color;
    }

    &:active {
      background-color: darken($dark-danger-color, 10%);
    }
  }
}

/* Bouton Créer une nouvelle histoire */
.btn-create {
  width: 120px;
  background-color: $secondary-color;
  color: $white-color;
  border: 2px solid $secondary-color;
  display: inline-block;
  font-size: 1.1rem;

  &:hover {
    background-color: $secondary-hover-color;
    transform: scale(1.05);
  }

  &:active {
    background-color: darken($secondary-color, 10%);
  }

  .dark-mode & {
    background-color: $dark-secondary-color;
    border-color: $dark-secondary-color;

    &:hover {
      background-color: $dark-secondary-hover-color;
    }

    &:active {
      background-color: darken($dark-secondary-color, 10%);
    }
  }
}
