@import 'base/variables';

.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex; // Afficher les éléments en flex pour les aligner correctement
  align-items: center;
  padding: 1.25rem 0;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; // Permet le défilement horizontal
  scroll-behavior: smooth;
  gap: 1rem; // Espacement entre les éléments
}

.carousel-item {
  flex: 0 0 300px; // Augmenter la largeur des cartes à 300px (ou ajuster selon les besoins)
  max-width: 300px; // Assurer que la largeur maximale des cartes soit 300px
  background-color: $card-background-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow-light;
  margin-right: 1rem; // Espacement entre les éléments
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .dark-mode & {
    background-color: $dark-card-background-color;
    box-shadow: $dark-box-shadow-light;
  }
}

/* Ajustements pour les écrans mobiles */
@media (max-width: 768px) {
  .carousel-item {
    min-width: 90%;
    /* Les éléments prennent presque toute la largeur */
    max-width: 90%;
    margin: 0 auto;
    /* Centrer les éléments */
  }

  .story-cover {
    height: 15rem;
    /* Ajuster la hauteur en fonction de la largeur */
  }

  .card-index__image {
    height: 200px;
    /* Adapter la hauteur pour une meilleure lisibilité */
  }
}

/* Pour les très petits écrans */
@media (max-width: 480px) {
  .carousel-item {
    min-width: 100%;
    /* Les éléments prennent toute la largeur */
    max-width: 100%;
    margin: 0 auto;
    /* Centrer les éléments */
  }

  .story-cover {
    height: 12rem;
    /* Réduire la hauteur sur les petits écrans */
  }

  .card-index__image {
    height: 180px;
    /* Adapter la hauteur pour les très petits écrans */
  }
}

.card-index__image {
  width: 100%;
  height: 250px; // Ajuster la hauteur des images si nécessaire, par exemple 250px
  object-fit: cover; // Assurer que l'image couvre toute la carte
  border-radius: $card-border-radius;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: $white-color;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .dark-mode & {
    background-color: rgba(255, 255, 255, 0.5);
    color: $dark-white-color;
  }

  &.left {
    position: absolute;
    left: 10px;
    z-index: 1;
  }

  &.right {
    position: absolute;
    right: 10px;
    z-index: 1;
  }
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);

  .dark-mode & {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 150px; // Réduire la taille des éléments pour les petits écrans
    margin-right: 0.5rem;
  }
}
