@import 'base/variables';

.header-categories-dropdown {
  position: relative;
  margin-left: 20px;

  .dropdown-toggle {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $font-family-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-hover-color;
      color: $white-color;
    }

    .dark-mode & {
      background-color: $dark-primary-color;
      color: $dark-white-color;

      &:hover {
        background-color: $dark-primary-hover-color;
        color: $white-color;
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $card-background-color;
    color: $text-color;
    border-radius: 8px;
    box-shadow: $box-shadow-light;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    white-space: nowrap;
    z-index: 1000;

    .dark-mode & {
      background-color: $dark-card-background-color;
      color: $dark-text-color;
      box-shadow: $dark-box-shadow-light;
    }

    li {
      .dropdown-item {
        padding: 10px 20px;
        text-decoration: none;
        color: $text-color;
        font-family: $font-family-serif;
        font-weight: 500;
        display: block;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $background-color;
          color: $white-color;
          font-weight: 700;

          .dark-mode & {
            background-color: $dark-background-color;
            color: $dark-primary-color;
          }
        }

        .dark-mode & {
          color: $dark-text-color;
        }
      }
    }
  }

  &:hover .dropdown-menu {
    display: none;
    color: $white-color;
  }

  &.show .dropdown-menu {
    display: block;
  }
}

/* Dropdown pour le menu utilisateur */
.user-menu {
  position: relative;
  margin-right: 20px;

  .dropdown-toggle {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $font-family-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-hover-color;
      color: $white-color;
    }

    .dark-mode & {
      background-color: $dark-primary-color;
      color: $dark-white-color;

      &:hover {
        background-color: $dark-primary-hover-color;
        color: $white-color;
      }
    }

    i {
      margin-right: 8px;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $card-background-color;
    color: $text-color;
    border-radius: 8px;
    box-shadow: $box-shadow-light;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    white-space: nowrap;
    z-index: 1000;

    .dark-mode & {
      background-color: $dark-card-background-color;
      color: $dark-text-color;
      box-shadow: $dark-box-shadow-light;
    }

    li {
      .dropdown-item {
        padding: 10px 20px;
        text-decoration: none;
        color: $text-color;
        font-family: $font-family-serif;
        font-weight: 500;
        display: block;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: $background-color;
          color: $white-color;
          font-weight: 700;

          .dark-mode & {
            background-color: $dark-background-color;
            color: $dark-primary-color;
          }
        }

        .dark-mode & {
          color: $dark-text-color;
        }
      }

      .btn-logout {
        background-color: transparent;
        color: $text-color;
        border: none;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: $primary-color;
          color: $white-color;

          .dark-mode & {
            background-color: $dark-primary-color;
            color: $dark-white-color;
          }
        }

        .dark-mode & {
          color: $dark-text-color;
        }
      }
    }
  }

  &.show .dropdown-menu {
    display: block;
  }
}
