@import 'base/variables';

/* Footer */
.main-footer {
  background-color: $background-color;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);

  .dark-mode & {
    background-color: $dark-background-color;
    box-shadow: 0 -4px 6px rgba(255, 255, 255, 0.1);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-footer p {
  font-size: $small-text-font-size;
  color: $text-muted-color;

  .dark-mode & {
    color: $dark-text-muted-color;
  }
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  gap: 20px;
}

.footer-nav ul li {
  display: inline;
}

.footer-nav ul li a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  font-size: $small-text-font-size;

  .dark-mode & {
    color: $dark-primary-color;
  }
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}
