@import 'components/nav';
@import 'components/dropdown';
@import 'components/auth';
@import 'base/variables';

/* Header principal */
.main-header {
  background-color: $card-background-color;
  padding: 15px 20px;
  box-shadow: $box-shadow-light;
  position: sticky;
  top: 0;
  z-index: 1000;

  .dark-mode & {
    background-color: $dark-card-background-color;
    box-shadow: $dark-box-shadow-light;
  }
}

/* Conteneur de navigation */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Liens de navigation */
.nav-link {
  font-family: $font-family-serif;
  font-weight: 700;
  color: $text-color;
  text-decoration: none;
  margin-right: 20px;

  .dark-mode & {
    color: $dark-text-color;
  }
}

.nav-link:hover {
  color: $primary-color;

  .dark-mode & {
    color: $dark-primary-color;
  }
}
