@import 'base/variables';

/* Style de la modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-container {
  background-color: $card-background-color;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;
  position: relative;
  font-family: $font-family-serif;

  .dark-mode & {
    background-color: $dark-card-background-color;
    box-shadow: $dark-box-shadow-light;
  }
}

/* Bouton de fermeture */
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: $text-color;

  .dark-mode & {
    color: $dark-text-color;
  }
}

.modal-header {
  font-size: 24px;
  color: $text-color;
  margin-bottom: 15px;

  .dark-mode & {
    color: $dark-text-color;
  }
}

.modal-body {
  font-size: 16px;
  color: $text-muted-color;
  line-height: 1.6;

  .dark-mode & {
    color: $dark-text-muted-color;
  }
}

/* Style des suggestions */
.modal-body ul {
  list-style: none;
  padding-left: 0;
}

.modal-body ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;

  .dark-mode & {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.modal-body ul li:last-child {
  border-bottom: none;
}

/* Ajouter un effet au bouton de fermeture */
.modal-close:hover {
  color: #f00;
}

/* Bouton action dans la modal */
.modal-footer {
  text-align: right;
}

.modal-footer button {
  background-color: $success-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  .dark-mode & {
    background-color: $dark-success-color;
  }
}

.modal-footer button:hover {
  background-color: $success-hover-color;

  .dark-mode & {
    background-color: $dark-success-hover-color;
  }
}
