/* Styles pour la modale */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-container {
  background-color: var(--opposite-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

/* Styles pour le feedback */
.feedback-report {
  font-family: 'Merriweather', serif;
}

.feedback-score {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.feedback-score i {
  margin-right: 8px;
}

.feedback-score.passed {
  color: #4CAF50;
}

.feedback-score.improve {
  color: #FF9800;
}

.feedback-score.failed {
  color: #F44336;
}

.feedback-section h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
}

.feedback-section p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.4;
}

.modal-footer button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
