@import 'base/variables';

/* Conteneur de navigation */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

/* Section gauche : Accueil et Catégories */
.nav-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-left .logo-link {
  font-size: 1.8rem;
  font-family: $font-family-serif;
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;

  .dark-mode & {
    color: $dark-primary-color;
  }
}

/* Section droite */
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

/* Liens de navigation */
.nav-link {
  color: $text-color;
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-family: $font-family-serif;
  font-weight: 900;

  &:hover {
    background-color: $white-color;
    border-radius: $border-radius;

    .dark-mode & {
      background-color: $dark-card-background-color;
    }
  }

  .dark-mode & {
    color: $dark-text-color;
  }
}

.signup-link,
.btn-login {
  padding: 10px 15px;
  margin: 20px;
  background-color: $primary-color;
  color: $white-color;
  border-radius: $border-radius;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-hover-color;

    .dark-mode & {
      background-color: $dark-primary-hover-color;
    }
  }

  .dark-mode & {
    background-color: $dark-primary-color;
    color: $dark-white-color;
  }
}

/* Bouton Hamburger pour le menu mobile */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.mobile-menu-toggle span {
  height: 3px;
  background-color: $text-color;
  border-radius: 2px;

  .dark-mode & {
    background-color: $dark-text-color;
  }
}

/* Menu mobile */
.mobile-nav-links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $white-color;
  width: 100%;
  z-index: 999;
  padding: 15px 0;

  .dark-mode & {
    background-color: $dark-background-color;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-align: center;

      .nav-link {
        display: block;
        padding: 10px 15px;
        color: $white-color;
        text-decoration: none;

        &:hover {
          background-color: $white-color;

          .dark-mode & {
            background-color: $dark-card-background-color;
          }
        }

        .dark-mode & {
          color: $dark-text-color;
        }
      }
    }
  }
}

/* Responsivité */
@media (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
  }

  .mobile-nav-links.active {
    display: block;
  }
}
