@import 'base/variables';

.story-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;

  .last-read-container,
  .last-updated-container,
  .my-stories {
    flex: 0 1 30%;
    max-width: 30%;
    /* Ajoute une limite stricte de largeur */
    padding: 10px;
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    margin-bottom: 20px;

    .dark-mode & {
      background-color: $dark-background-color;
      box-shadow: $dark-box-shadow-light;
    }

    h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: $text-color;
      font-family: $font-family-serif;
      font-weight: 900;

      .dark-mode & {
        color: $dark-text-color;
      }
    }

    .story-card {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: $card-border-radius;
      background-color: $card-background-color;
      transition: box-shadow 0.3s;

      .dark-mode & {
        background-color: $dark-card-background-color;
        border-color: $dark-secondary-color;
      }

      &:hover {
        box-shadow: $box-shadow-hover;

        .dark-mode & {
          box-shadow: $dark-box-shadow-hover;
        }
      }

      small {
        font-family: $font-family-serif;
        font-weight: 300;

        .dark-mode & {
          color: $dark-text-muted-color;
        }
      }
    }

    .btn {
      margin-top: 10px;
    }

    @media (max-width: 768px) {

      .last-read-container,
      .last-updated-container,
      .my-stories {
        flex: 0 1 100%;
        max-width: 100%;
      }
    }
  }
}

.story-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 20px;
  }
}
