@import 'base/variables';

/* Style général des formulaires */
.story-form {
  max-width: 600px;
  margin: 0 auto;
  padding: $section-padding;
  background-color: $background-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow-light;

  .dark-mode & {
    background-color: $dark-background-color;
    box-shadow: $dark-box-shadow-light;
  }
}

/* Champs de formulaire */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-family: $font-family-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: $text-font-size;

  .dark-mode & {
    color: $dark-text-color;
  }
}

.input-field {
  width: 94%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: $text-font-size;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  .dark-mode & {
    background-color: $dark-card-background-color;
    color: $dark-text-color;
    border-color: $dark-secondary-color;
  }
}

.input-field-desc {
  width: 94%;
  height: 150px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: $text-font-size;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  .dark-mode & {
    background-color: $dark-card-background-color;
    color: $dark-text-color;
    border-color: $dark-secondary-color;
  }
}

.input-field:focus {
  border-color: $primary-color;
  box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
  outline: none;

  .dark-mode & {
    border-color: $dark-primary-color;
    box-shadow: 0 0 5px rgba(255, 111, 97, 0.3);
  }
}

.story-cover-edit {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Bouton CTA (call-to-action) */
.cta-button {
  width: 100%;
  padding: 12px;
  background-color: $primary-color;
  color: $white-color;
  font-weight: bold;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;

  .dark-mode & {
    background-color: $dark-primary-color;
    color: $dark-white-color;
  }
}

.cta-button:hover {
  background-color: $primary-hover-color;

  .dark-mode & {
    background-color: $dark-primary-hover-color;
  }
}

/* Bouton secondaire */
.btn-secondary {
  background-color: $secondary-color;
  text-align: center;

  .dark-mode & {
    background-color: $dark-secondary-color;
    color: $dark-white-color;
  }
}

.btn-secondary:hover {
  background-color: $secondary-hover-color;

  .dark-mode & {
    background-color: $dark-secondary-hover-color;
  }
}
