.tag {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.story-tag {
  display: inline-block;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 6px;
  margin-right: 5px;
  margin-bottom: 5px;
}

select[multiple] {
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

select[multiple] option {
  padding: 8px;
}

/* Conteneur pour les tags prédéfinis */
.predefined-tags-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Espace entre les éléments */
}

.predefined-tags-container .form-check {
  flex: 1 1 calc(33.333% - 10px);
  /* 3 colonnes */
  box-sizing: border-box;
}

/* Conteneur pour les tags suggérés */
.suggested-tags-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Espace entre les éléments */
}

.suggested-tags-container .form-check {
  flex: 1 1 calc(33.333% - 10px);
  /* 3 colonnes */
  box-sizing: border-box;
}
