.triptik-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes pour les écrans moyens */
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    /* 1 colonne pour les petits écrans */
  }
}

.triptik-card{
  position:relative;
  background-color: #f5f5f5;
  padding: 1rem;
  height: 15rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media (max-width: 768px) {
      padding: 0.75rem;
      margin: 0.5rem;
      height: 12rem;
      /* Hauteur réduite sur petits écrans */
    }
}

.triptik-container h1 {
  margin: 30px;
  grid-column: span 3;

  @media (max-width: 768px) {
      font-size: 1.5rem;
      grid-column: span 1;
      /* H1 s'affiche sur une seule colonne */
    }
}

.triptik-card p{
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 1.1rem;

  @media (max-width: 768px) {
      font-size: 1rem;
      /* Taille de la police réduite sur petits écrans */
    }
}

.triptik-img {
  max-width: 23rem;
  top: 10%;
  left: 20%;
  position: absolute;
  height: 13rem;

  @media (max-width: 768px) {
      max-width: 20rem;
      height: 10rem;
      /* Taille réduite sur petits écrans */
    }
}
